body{
	margin: 0px;
	padding: 0px;
	background-color: white;
	overflow: hidden;
}
canvas {
}
#debug {
	position: absolute;
	color: white;
	z-index: 1000;
	left: 0px;
	top: 0px;
	background-color: black;
}